include INSTALL.txt
include LICENSE.txt
include MANIFEST.in
include README.rst
recursive-include docs *
recursive-include robots/templates *
recursive-include robots/locale *
recursive-include robots/static *
recursive-include robots/tests/templates *
